/* Global Styling Below ------------------ */
body {
  text-align: center;
  position: relative;
  font-family: "Work Sans", sans-serif;
}
h2 {
  font-size: 2.5rem;
  text-align: left;
  padding-left: 10px;
  color: #757474;
}
.main-content {
  max-width: 900px;
  margin: 0 auto;
}
.dim-close-button {
  position: fixed;
  top: 5%;
  right: 10%;
  z-index: 10;
}
.ui.segment.dimmable {
  padding: 0;
}
/* Global Styling Above ------------------- */
/* Header Styling Below ------------------- */
header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 1px 1px 10px #c7f8ce;
  background-color: #d0fadc;
  z-index: 10
}
.h1-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  cursor: pointer;
  margin: 0;
  width: 150px;
  height: 90px;
}
h1 span {
  width: 1px;
  height: 1px;
  visibility: hidden;
}
h1 img.logo {
  width: 150px;
}
/* Nav styling ------ */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #248842;
  padding: 2px;
}
a.nav-item {
  text-decoration: none;
  font-size: 1.2rem;
  color: #eee;
  display: inline-block;
  padding: 2px;
}
a.nav-item:hover {
  color: yellow;
}
/* Buttons Styling --- */
.icon-buttons-holder {
  display: flex;
  justify-content: right;
  margin-bottom: 2px;
}
.search-form-toggle button img {
  width: 23px;
} 
.cart-icon .cart {
  display: inline-block;
  padding: 4px 5px 17px;
}
.cart-toggle-large {
  display: none;
}
.user-button-holder .user {
  padding: 1px 0 20px 8px;
}
.hide-this {
  display: none;
}
/* Header Styling Above ------------------- */
/* Search Bar Styling Below --------------- */
.search-popup-div {
  position: fixed;
  width: 100%;
  left: 0;
  top: 25%;
  display: flex;
  justify-content: center;
}
/* Search Bar Styling Above --------------- */
/* Cart Quickview Styling Below ----------- */
.cart-popup-div {
  position: absolute;
  width: 70%;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
}
.cart-quickview {
  border: solid 1px #ccc;
  min-height: 600px;
  width: 100%;
}
/* Cart Quickview Styling Above ----------- */
/* Main Styling Below --------------------- */
main {
  min-height: 500px;
  margin-top: 180px;
}
/* Main Styling Above --------------------- */
/* Home Styling Below --------------------- */
.home-block {
  min-height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #248842;
  font-size: 1.2rem;
}
.home-block p, .home-block div {
  place-content: center center;
}
.home-promo-msg {
  background: url(https://morguefile.nyc3.cdn.digitaloceanspaces.com/imageData/public/files/m/mconnors/preview/fldr_2003_06_20/file000948858178.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}
.home-promo-msg::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #424040;
  opacity: .8;
}
.home-promo-msg p {
  position: absolute;
  z-index: 8;
}
.home-promo-msg p span {
  color: #eadb54;
  font-weight: 700;
  font-size: 1.5rem;
}
.home-intro {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: #248842;
  font-weight: 700;
  padding: 40px;

}
.home-intro p {
  width: 80%;
place-self: center;
}
/* Home Styling Above --------------------- */
/* Stores Styling Below ------------------- */
.stores-intro-msg {
  font-size: 1.25rem;
  background-color: #eadb54;
  padding: 10px;
  margin: 10px;
  position: relative;
}
.store {
  border-bottom: 1px solid #e2e0e0;
  margin: 10px;
}
.store:last-child {
  border: none;
}
.stores-holder .store-columns {
  display: flex;
  padding: 10px;
  flex-direction: row-reverse;
  width: 100%;
  position: relative;
  z-index: 2;
}
.stores-holder .store-item {
  width: 50%;
  margin-bottom: 10px;
}
.stores-holder .store-item h3 {
  font-size: 1.5rem;
  padding-top: 15px;
}
.stores-holder .store-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top center;
}
.stores-holder .store-item:nth-child(2) p {
  padding-top: 5px;
  font-size: 1.2rem;
}
.stores-holder > div img {
  width: 100%;
  border-radius: 2px;
}
.store-address {
  font-size: 1.5rem;
  padding: 2px 0 2px;
}
.store-pickup-enabled {
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 50px;
  background-color: #eadb54;
  opacity: .8;
}
.toggle-store-hours {
  position: absolute;
  bottom: 10px;
  color: #248842;
  font-weight: 700;
  cursor: pointer;
}
.store-hours {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.store-hours span {
  color: #248842;
  font-weight: 700;
}
.store-msg span {
  color: #248842;
  font-weight: 700;
  font-family: cursive;
  max-width: 80%;
  display: inline-block;
}
.hide-hours {
  display: none;
}
/* Stores Styling Above ------------------- */
/* Footer Styling Below ------------------- */
footer {
  min-height: 150px;
  background: url(https://morguefile.nyc3.cdn.digitaloceanspaces.com/imageData/public/files/s/Seemann/04/l/142868686685ow7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  box-shadow: inset 0 0 10px #000;
}
footer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #424040;
  opacity: .7;
  top: 0;
  left: 0;
}
.footer-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 20px 10px 10px;
}
.footer-content p, .footer-content a {
  color: #eee;
  margin: 0;
}
.footer-content a:hover {
  color: #248842;
  background-color: #eee;
}
.footer-content p.credit {
  margin: 10px 5px 5px;
}
/* Footer Styling Above ------------------- */
@media screen and (min-width:750px) {
  /* Main Styling Below ------------------- */
  main {
    margin-top: 200px;
  }
  /* Main Styling Above ------------------- */
  .search-form-toggle, .cart-toggle-mobile {
    display: none;
  }
  .cart-toggle-large {
    display: block;
  }
  /* Stores Styling Below ------------------- */
  .stores-intro-msg {
    font-size: 1.25rem;
    padding: 30px 100px;
    line-height: 2;
    margin: 0 10px 30px;
  }
  .store-pickup-enabled {
    display: inline-block;
    margin-top: 20px;
  }
  .store-hours {
    flex-direction: row;
    justify-content: space-around;
  }
  .store-hours span {
    display: block;
  }
  .stores-holder .store-item:nth-child(2) p {
    font-size: 1.5rem;
  }
  /* Stores Styling Above ------------------- */
}
