/* Global Styling Below ------------------ */
body {
  text-align: center;
  position: relative;
}
.dim-close-button {
  position: fixed;
  top: 5%;
  right: 10%;
  z-index: 10;
}
/* Global Styling Above ------------------- */
/* Header Styling Below ------------------- */
header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 1px 1px 10px #c7f8ce;
  background-color: #d0fadc;
}
.h1-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  cursor: pointer;
  margin: 0;
  width: 150px;
  height: 90px;
}
h1 span {
  width: 1px;
  height: 1px;
  visibility: hidden;
}
h1 img.logo {
  width: 150px;
}
/* Nav styling ------ */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #248842;
  padding: 2px;
}
a.nav-item {
  text-decoration: none;
  font-size: 1.2rem;
  color: #eee;
  font-family: 'Arial';
  display: inline-block;
  padding: 2px;
}
a.nav-item:hover {
  color: yellow;
}
/* Buttons Styling --- */
.icon-buttons-holder {
  display: flex;
  justify-content: right;
  margin-bottom: 2px;
}
.search-form-toggle button img {
  width: 23px;
} 
.cart-icon .cart {
  display: inline-block;
  padding: 4px 5px 17px;
}
.cart-toggle-large {
  display: none;
}
.user-button-holder .user {
  padding: 1px 0 20px 8px;
}
.hide-this {
  display: none;
}
/* Header Styling Above ------------------- */
/* Search Bar Styling Below --------------- */
.search-popup-div {
  position: fixed;
  width: 100%;
  left: 0;
  top: 25%;
  display: flex;
  justify-content: center;
}
/* Search Bar Styling Above --------------- */
/* Cart Quickview Styling Below ----------- */
.cart-popup-div {
  position: absolute;
  width: 70%;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
}
.cart-quickview {
  border: solid 1px #ccc;
  min-height: 600px;
  width: 100%;
}
/* Cart Quickview Styling Above ----------- */
/* Main Styling Below --------------------- */
main {
  min-height: 500px;
  margin-top: 230px;
}
/* Main Styling Above --------------------- */
/* Footer Styling Below ------------------- */
footer {
  border: solid 1px green;
}
/* Footer Styling Above ------------------- */
@media screen and (min-width:750px) {
  .search-form-toggle, .cart-toggle-mobile {
    display: none;
  }
  .cart-toggle-large {
    display: block;
  }
}
